{% extends 'base.html' %}

{% block content %}
<h1>Balance Transfer</h1>
{% if user.is_authenticated %}
    {{ user.username }}
{% endif %}
<div class="col-lg-6">
<form method="post"> 
    {% csrf_token %}
    <div class="form-group">
            <input type="number" class="form-control form-control-user" name="mobile" placeholder="Enter mobile no">
          </div>
          <div class="form-group">
            <input type="number" class="form-control form-control-user" name="balance" placeholder="Balance">
          </div>
          <input class="btn btn-primary btn-user btn-block" value="Transfer" type="submit">
    <hr>
</form>
</div>
{% endblock content %}